@model IEnumerable<BingolSinema.Models.Film>

@{
    ViewBag.Title = "Film Seçimi";
}
<style>
    body {
        background: url('/images/HomeIndex.jpg') no-repeat center center fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #fff;
    }
</style>
<h2>Film Seçimi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Film Adı</th>
            <th>Yönetmen</th>
            <th>Yıl</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.FilmAdi</td>
                <td>@film.Yönetmen</td>
                <td>@film.Yil</td>
                <td>
                    <a href="@Url.Action("Seanslar", "Home", new { filmId = film.FilmID })" class="btn btn-primary">Seansları Görüntüle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
