@model BingolSinema.Models.Seans

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Seans Ekle";
}

<h2>Seans Ekle</h2>

<form asp-action="SeansEkle" method="post">
    <div class="form-group">
        <label for="FilmID">Film</label>
        <select class="form-control" id="FilmID" name="FilmID">
            @foreach (var film in ViewBag.Filmler)
            {
                <option value="@film.FilmID">@film.FilmAdi</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="SalonID">Salon</label>
        <select class="form-control" id="SalonID" name="SalonID">
            @foreach (var salon in ViewBag.Salonlar)
            {
                <option value="@salon.SalonID">@salon.SalonAdi</option>
            }
        </select>
    </div>
        <div class="form-group">
        <label for="SeansFiyat"> Bilet Fiyatı</label>
        <input type="number" class="form-control" id="SeansFiyat" name="SeansFiyat" required />
    </div>
    <div class="form-group">
        <label for="BaslangicZamani">Başlangıç Zamanı</label>
        <input type="datetime-local" class="form-control" id="BaslangicZamani" name="BaslangicZamani" required />
    </div>
    <div class="form-group">
        <label for="BitisZamani">Bitiş Zamanı</label>
        <input type="datetime-local" class="form-control" id="BitisZamani" name="BitisZamani" required />
    </div>
    <button type="submit" class="btn btn-success">Ekle</button>
</form>
